@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter&display=swap');

body {
    font-family: 'Fredoka One', cursive;
}

.font-fredoka {
    font-family: 'Fredoka One', cursive;
}

.wave-group {
    position: relative;
    margin-bottom: 2rem;
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #a18c4f;
    background: transparent;
    color: #6B4A2A;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~.label .label-char,
.wave-group .input:valid~.label .label-char {
    transform: translateY(-25px);
    font-size: 14px;
    font-weight: 700;
    color: #6b4a1e;
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 100%;
}

.wave-group .bar:before,
.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #6b4a1e;
    transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
    width: 50%;
}


button {
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;      /* centers vertically */
    justify-content: center;  /* centers horizontally */
}


.button1 {
    color: #6B4A1E;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;

}

.button1:hover {
    background-color: #f5ab38;
    box-shadow: 0px 15px 20px rgba(207, 150, 64);
    color: #fff;
    transform: translateY(-7px);
}

.button1:active {
    transform: translateY(-1px);
}

#loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,black 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,black);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}