/* #progress-fill {
    width: 0%;
    animation: fillProgress 3s ease-in-out forwards;
  }
  
  @keyframes fillProgress {
    from {
      width: 0%;
    }
    to {
      width: 40%;
    }
  }
  
  @keyframes fillProgress {
    from {
      width: 40%;
    }
    to {
      width: 80%;
    }
  }
   */